[submodule "pack/fugitive/start/vim-fugitive"]
	path = pack/fugitive/start/vim-fugitive
	url = https://github.com/binsbt/vim-fugitive.git
[submodule "pack/fzf/start/fzf.vim"]
	path = pack/fzf/start/fzf.vim
	url = https://github.com/binsbt/fzf.vim.git
[submodule "pack/gitgutter/start/vim-gitgutter"]
	path = pack/gitgutter/start/vim-gitgutter
	url = https://github.com/binsbt/vim-gitgutter.git
[submodule "pack/solarized/start/vim-colors-solarized"]
	path = pack/solarized/start/vim-colors-solarized
	url = https://github.com/binsbt/vim-colors-solarized.git
